.objectInfoTooltip {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: $BLACK;
  border: 2px solid $BLUE;
  border-radius: 5px;
}
